@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap";

/* #### General Main Page Layout #### */

/**
 * Get rid of the default html webpage margin
 * make the page scrollable
 */
body {
  margin: 0;
  overflow: scroll;
}

/* #### Header Layout #### */

/**
 * Grid display for organizing header element
 */
.main-head {
  /* Define grid display for header */
  display: grid;
  gap: 0.875rem;
  grid-template-columns: 1fr 4fr 1fr;

  /* Define the header styling */
  background-color: #23dcb0;
  overflow: hidden;
  width: 100%;
  height: 3.5rem;

  /* Define header position to be fixed at the top */
  position: fixed;
}

/**
 * Container for header-title for the header
 */
.title-box {
  /* Centering title in the middle of header */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Sizing the title container to fit center grid */
  width: 100%;
  height: 100%;
}

/**
 * Styling title text
 */
.header-title {
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

/**
 * Title text mouse hover style
 */
.header-title:hover {
  color: #999;
}

/* ### Styling for chore cards ### */

/*
 * Assign the list of chore cards position
 * Reference to the chore-cards custom elements
 */
#chore-cards {
  position: relative;
  top: 4.375rem;
  left: 2.5rem;
  overflow-y: auto;
  width: fit-content;
}


/* ### Styling for FAB add chore button ### */

/**
 * Footer styling to house the add button
 */
.footer {
  /* Centering add button */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Define footer height to fit the button */
  height: fit-content;
}

/**
 * Container add button
 */
.fab-container {
  /* Define default position for add button */
  position: fixed;
  bottom: 10%;

  width: fit-content;
  height: fit-content;

  /* Make container detect mouse pointer */
  cursor: pointer;
}

/* Create a button with position and size */
.button {
  /* Set the button's position */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Set the size of the button 60x60 px^2 */
  width: 60px;
  height: 60px;

  /* Define button background color */
  border-radius: 100%;
  background: black;
}

/* Add transparency to the button when user hover to it */
.button:hover {
  opacity: 0.5;
}

/**
 * Styling plus sign icon for add button
 */
.fa-plus {
  height: 50%;
  color: white;
}

/* ### Styling for add chore form ### */

/*
 * Create a pop up form and set it to be hidden as default
 * Reference to modal (the add chore form)
 */
.modal {
  /* Set it to be hidden */
  display: none;

  /* Assign the position and the order of the modal form */
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Allow scrolling if needed */
  overflow: auto;

  /* blurred the background */
  backdrop-filter: blur(5px);
}

/* Set the size of the modal-content */
.modal-content {
  /* Centering the pop-up form (div) */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Define size of pop-up form*/
  width: 80%;
  height: 80%;

  /* Define margins relative to the background */
  margin-top: 10%;
  margin-left: 10%;
}

/* Set the text color and apply some padding */
span {
  color: #666;

  /* Display item vertically */
  display: block;
  padding: 0 0 1.5%;
  font-family: Nunito, sans-serif;
}

/* Make a form with the size and color */
form {
  /* Apply some padding and add corner to four edges */
  padding: 2.5%;
  border-radius: 15px;
  margin: 3%;

  /* Add a shadow to the box */
  box-shadow: 0 1px 6px #f5f5f5;

  /* Set the background color */
  background: #eee;
}
/* Set the text margin, size and color */
h2{
    margin: 0 0 1.25rem;
    font-weight: 400;
    color: #999;
    font-family: Nunito, sans-serif;
}
/* Make the input area with the size and color, and set its position */
input,
textarea {
  /* Set the size of the input area */
  width: 95%;

  /* Apply some padding and margin to that */
  padding: 3%;
  margin-bottom: 4%;

  /* Apply corners to four edges */
  border-radius: 15px;

  /* Set its color and border color */
  color: #999;
  border: 1px solid #c1d3df;
  outline: none;
  font-family: Nunito, sans-serif;
  font-size: 100%;
}

/* Make the button for 'Submit' */
.add-chore-form button {
  /* Set the size of the button and apply some padding to it */
  width: 100%;
  padding: 2.5%;

  /* Disable the border and apply corners to four edges */
  border: none;
  border-radius: 15px;

  /* Set button color and the text color with text size */
  background: black;
  font-size: 100%;
  font-weight: 400;
  font-family: Nunito, sans-serif;
  color: #fff;
}

/* Add some fancy animation when user hovers to the 'Submit' button */
.add-chore-form button:hover {
  /* Change color to darker blue to the button */
  background: #2371a0;
  cursor: pointer;
}

/* Make a close button to close the pop up form */
.close {
  /* Set the color of x and the size of it */
  color: black;
  float: right;
  font-size: 180%;
  font-weight: bold;
}

/* Apply some decoration of the close button when user hover to the x */
.close:hover,
.close:focus {
  /* Change x color to be black */
  color: rgb(178 178 178);
  text-decoration: none;

  /* Change cursor to be pointer style */
  cursor: pointer;
}
