/* #### General Card Layout #### */

/**
 * Create grid display to organize items in chore card
 * References entirety of the article element
 */
.grid-container {
    /* Define border shape */
    border-style: solid;
    border-radius: 20px;
    /* Define container sizing */
    width: 620px;
    gap: 10px;
    padding: 10px;

    background-color: rgb(181, 177, 177);

    /* Define grid display */
    display: grid;
    grid-template-areas:
        'item1 item2 item5'
        'item1 item3 item5'
        'item1 item4 item5';
    grid-template-columns: 120px 400px 75px;
    grid-template-rows: 60px 60px 60px;
}

.grid-container > div {
    /* Match background color with background of the actual container */
    background-color: rgb(181, 177, 177);
    /* Align text to the left, adjust its font size, and add padding */
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
}

/* #### Styling for Grid Items #### */

/**
 * Establish style for individual items in the grid container
 * References all divs contained within the grid-container div
 */
.item1 {
    /* Defines item1, the avatar image, as the leftmost grid item from the template */
    grid-area: item1;
    /* Sets image in the center of the grid item */
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2 {
    /* Defines item2, the chore title, as the top middle grid item from the template */
    grid-area: item2;
}

.item3 {
    /* Defines item3, the chore date, as the middle middle grid item from the template */
    grid-area: item3;
}

.item4 {
    /* Defines item4, the chore label, as the bottom middle grid item from the template */
    grid-area: item4;
}

.item5 {
    /* Defines item5, the checkbox, as the rightmost grid item from the template */
    grid-area: item5;
    /* Sets icon in the top right of the grid item */ 
    display: flex;
    justify-content: right;
    align-items: top;
}

/* #### Layout of specific elements #### */

/**
 * Adjust sizing and additional element properties of specific items in grid
 * References the assignee img, checkbox icon, and label span respectively
 */
#assignee {
    /* Configure size of image */
    width: 100px;
    height: 100px;
    /* Make image rounded */
    border-radius: 50%;
}

#checkbox {
    /* Configure size of icon */
    width: 50px;
    height: 50px;
}

#label {
    background-color: orange;
    /* Slightly increase padding around label */
    padding: 2px;
}
