/* #### General Card Layout #### */

/**
 * Create grid display to organize items in chore card
 * References entirety of the article element
 */
.grid-container {
    /* Define border shape */
    border-style: solid;
    border-radius: 20px;
    /* Define container sizing */
    width: 620px;
    gap: 10px;
    padding: 10px;

    background-color: rgb(181, 177, 177);

    /* Define grid display */
    display: grid;
    grid-template-areas:
        'item1 item2 item5'
        'item1 item3 item5'
        'item1 item4 item5';
    grid-template-columns: 120px 400px 75px;
    grid-template-rows: 60px 60px 60px;
}

.grid-container > div {
background-color: rgb(181, 177, 177);
text-align: left;
padding: 20px 0;
font-size: 20px;
}

/* */

.item1 {
grid-area: item1;
display: flex;
justify-content: center;
align-items: center;
}

.item2 {
grid-area: item2;
}

.item3 {
grid-area: item3;
}

.item4 {
grid-area: item4;
}

.item5 {
grid-area: item5;
display: flex;
justify-content: right;
align-items: top;
}

/* */

#assignee {
width: 100px;
height: 100px;
border-radius: 50%;
}

#checkbox {
width: 50px;
height: 50px;
}

#label {
    background-color: orange;
    padding: 2px;
}
